<div class="register-container">
  <h2>Registro</h2>
  <form (ngSubmit)="register()">
    <input type="text" placeholder="Email" [(ngModel)]="username" name="username" required />
    <input
      type="text"
      placeholder="Nombre completo"
      [(ngModel)]="fullName"
      name="fullName"
      required
    />
    <input
      type="password"
      placeholder="Contraseña"
      [(ngModel)]="password"
      name="password"
      required
    />
    <input
      type="password"
      placeholder="Confirmar Contraseña"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
    />
    <button type="submit">Registrarse</button>
  </form>
  <ul *ngIf="errorMessages.length" class="error-list" style="color: red; margin-top: 10px">
    <li *ngFor="let msg of errorMessages">{{ msg }}</li>
  </ul>
  <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
</div>
